.title {
	font-size: 30px;
	font-weight: bold;
	color: #333;
	margin-bottom: 30px;
	margin-top: 30px;
}

.list {
	list-style: none;
	padding: 0;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.chartInnerContainer {
	height: 500px;

	@media screen and (max-width: 768px) {
		height: 300px;
		width: 1110px;
	}
}

.chart {
	width: 100%;
	height: 500px;
	margin-top: 20px;

	@media screen and (max-width: 768px) {
		overflow-x: scroll;
		overflow-y: hidden;
		height: 310px;
	}
}

.skeletonContainer {
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	padding-top: 30px;
}

.skeletonTitle {
	font-size: 30px;
	font-weight: bold;
	color: #333;
	margin-bottom: 30px;
	margin-top: 0;
	display: flex;
	justify-content: center;
}

.skeletonList {
	list-style: none;
	padding: 0;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.skeletonButton {
	width: 100%;
	display: flex;
	justify-content: center;
}
